# .env template for affinity - demo
APP_ENV={{getv "/APP_ENV"}}
APP_DEBUG={{getv "/APP_DEBUG"}}
APP_KEY={{getv "/APP_KEY"}}
APP_URL={{getv "/APP_URL"}}
APP_NAME={{getv "/APP_NAME"}}

DB_HOST={{getv "/DB_HOST"}}
DB_DATABASE={{getv "/DB_DATABASE"}}
DB_USERNAME={{getv "/DB_USERNAME"}}
DB_PASSWORD={{getv "/DB_PASSWORD"}}
DB_PORT={{getv "/DB_PORT"}}

FORCE_HTTPS={{getv "/FORCE_HTTPS"}}

CACHE_DRIVER={{getv "/CACHE_DRIVER"}}
SESSION_DRIVER={{getv "/SESSION_DRIVER"}}
QUEUE_DRIVER={{getv "/QUEUE_DRIVER"}}

MAIL_DRIVER={{getv "/MAIL_DRIVER"}}
MAIL_HOST={{getv "/MAIL_HOST"}}
MAIL_PORT={{getv "/MAIL_PORT"}}
MAIL_USERNAME={{getv "/MAIL_USERNAME"}}
MAIL_PASSWORD={{getv "/MAIL_PASSWORD"}}
MAIL_ENCRYPTION={{getv "/MAIL_ENCRYPTION"}}
